*{
    padding: 0;
    margin: 0;
}

:root {
    --surface-color: #0C0C0C;
    --text-color: #fff;
}

.theme-app {
    background-color: var(--surface-color);
    color: var(--text-color);
    flex-direction: row;
}

.container-app {
    display: inline-flex;
    padding: 0px 5px;
    align-items: flex-start;
    gap: 10px
}

body {
    height:100%;
    width:100%;
}