* {
  padding: 0;
  margin: 0;
}

:root {
  --surface-color: #0c0c0c;
  --color-primary: #fff;
  --color-secondary: #ffb800;
}

.theme-app {
  background-color: var(--surface-color);
  color: var(--color-primary);
  flex-direction: row;
}

.container-app {
  display: inline-flex;
  padding: 0px 5px;
  align-items: flex-start;
  gap: 10px;
}

body {
  height: 100%;
  width: 100%;
}

h1 {
  color: #fff;
  font-size: 5.6vw;
  font-style: normal;
  font-weight: 700;
  line-height: 10.5vh; /* 100% */
  letter-spacing: -0.02vw;
  text-transform: uppercase;
  text-align: justify;
}

h3 {
  color: #fff;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 5vh; /* 142.857% */
  text-transform: uppercase;
  text-align: justify;
}

button {
  border: none;
  background: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.2vw;
  font-style: normal;
  line-height: 1.3vh;
  text-transform: uppercase;
  font-weight: 400;
  height: 8vh;
  width: 17vw;
}

button:hover {
  background:
  linear-gradient(to right, var(--color-secondary) 0.10vw, transparent 0.10vh) 0 0,
  linear-gradient(to right,  var(--color-secondary) 0.10vw, transparent 0.10vh) 0 100%,
  linear-gradient(to left,  var(--color-secondary) 0.10vw, transparent 0.10vh) 100% 0,
  linear-gradient(to left,  var(--color-secondary) 0.10vw, transparent 0.10vh) 100% 100%,
  linear-gradient(to bottom,  var(--color-secondary) 0.10vw, transparent 0.10vh) 0 0,
  linear-gradient(to bottom,  var(--color-secondary) 0.10vw, transparent 0.10vh) 100% 0,
  linear-gradient(to top,  var(--color-secondary) 0.10vw, transparent 0.10vh) 0 100%,
  linear-gradient(to top,  var(--color-secondary) 0.10vw, transparent 0.10vh) 100% 100%;
  /* margin-left: 2vw; */
  color: var(--color-secondary);
  
background-repeat: no-repeat;
background-size: 1vw 1.5vh;  
cursor: pointer;
}