.navigation-container {
    display: flex;
    gap: 1;
    flex-direction: column;
    /* background-color: blueviolet; */
    height: 100vh;
    width: 200px;
}

.logo-container {
    padding-top: 4vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20;
} 

.content-container {
    display: flex;
    flex-direction: row; /* Afficher les éléments côte à côte */
    /* Autres styles nécessaires */
  }

.children-container {
    flex: 1; /* Prendra l'espace restant disponible */
    /* Autres styles nécessaires */
    padding-top: 4vh;
    display: inline-flex;
    gap: 1;
}

.menu-bar-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    flex: 1;
    /* margin-top: 80px; */
}
