.super-card {
  position: relative;
  width: 82vw;
  height: 82vh;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 16em;
  border: solid 1.5px #ffffff;
  padding: 5vh;
}

.super-card-container-line {
  margin-top: 4vh;
  flex-direction: row;
  display: inline-flex;
}

.vertical-line {
  border-left: 2px solid transparent;
  height: 9.8vh;
  animation: appear 3s ease-in-out forwards; /* Utilisation de l'animation "appear" */
}

@keyframes appear {
  from {
    border-color: transparent; /* Commence avec une couleur transparente */
  }
  to {
    border-color: #ffffff; /* Se termine avec la couleur blanche */
  }
}

.super-card-subhead {
  position: relative;
  width: 25vw;
  bottom: 5vh;
  align-self: flex-end;
  animation: slide-up 1s ease-in-out forwards; /* Ajoutez l'animation de glissement vers le haut */
  /* background-color: green; */
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.subtitle {
  text-align: justify;
  color: #ffb800;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 5.2vh;
  text-transform: uppercase;
}

.super-card-container-title {
  display: flex;
  width: 100%;
  height: 28vh;
  flex-direction: column;
  /* background-color: blue; */
  animation: slide-in 1.8s ease-in-out forwards; /* Ajoutez l'animation de glissement en entrée */
}

@keyframes slide-in {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.super-card-container-footer {
  height: 24vh;
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  /* background-color: blue; */
  justify-content: space-between;
}

.super-card-container-button-footer {
  height: 24vh;
  width: 53.85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  animation: slide-down 1s ease-in-out forwards; /* Ajoutez l'animation de glissement vers le haut */
}

@keyframes slide-down {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.super-card-container-footer-title {
  color: var(--color-secondary);
}

.super-card-container-footer-text {
  color: #ffb800;
  text-align: center;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.super-card-container-footer-satellites {
  animation: slide-down 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 26vh;
}

.super-card-container-footer-satellites-open {
  animation: smart-animate-open 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 43vh;
  position: relative;
  bottom: 9vh;
  /* background-color: blue; */
}

.super-card-container-footer-satellites:hover {
  height: 35vh;
  position: relative;
  bottom: 4vh;
  animation: smart-animate 350ms ease-in-out forwards;
  cursor: pointer;
}

@keyframes smart-animate {
  100% {
    transform: rotate(12deg);
  }
}

@keyframes smart-animate-open {
  100% {
    transform: rotate(50deg);
  }
}

.position-container-footer-span {
  align-self: center;
  transform: rotate(-23deg);
}


.position-container-footer-span-open {
  align-self: center;
  transform: rotate(-49.5deg);
}

.position-container-footer-span-hover {
  align-self: center;
  transform: rotate(13.369deg);
}

.position-container-footer-span-second-hover {
  align-self: center;
  transform: rotate(27.239deg);
}

.position-container-footer-span-click {
  display: inline-flex;
  align-items: flex-start;
  align-self: flex-start;
  position: relative;
  top: 80%;
  right: 15%;
  transform: rotate(-60deg);
}

.position-container-footer-span-second-click {
  display: inline-flex;
  align-self: flex-start;
  align-items: flex-start;
  position: relative;
  top: 25%;
  right: 5%;
  transform: rotate(-28deg);
}

.text-container-footer-hover {
  text-align: center;
  font-size: 0.9vw;
  font-style: novrmal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  top: 7.5vh;
  left: 0.5vw;
  animation: slide-down 350ms ease-in-out forwards;
}

.text-container-footer-second-hover {
  text-align: center;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  top: 1.8vh;
  left: 2.6vw;
  animation: slide-down 350ms ease-in-out forwards;
}

.text-container-footer-click {
  width: 9vw;
  color: #ffb800;
  text-align: center;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8vh;
  text-decoration-line: underline;
  animation: slide-down 350ms ease-in-out forwards;
  cursor: pointer;
}

.text-container-footer-second-click {
  width: 9vw;
  color: #ffb800;
  text-align: center;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8vh;
  text-decoration-line: underline;
  animation: slide-down 350ms ease-in-out forwards;
}

.text-container-footer-second-click:hover {
  cursor: pointer !important;
}


.text-container-footer-span {
  color: var(--color-secondary);
  text-align: center;
  font-size: 0.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  bottom: 4vh;
  animation: slide-up 350ms ease-in-out forwards;
}

.text-container-footer-span-open {
  color: var(--color-secondary);
  text-align: center;
  font-size: 1.9vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  animation: slide-up 350ms ease-in-out forwards;
}

