.menu-bar {
    padding: 0;
    list-style-type: none;
}

.menu-bar-item {
    display: flex;
    width: 8vw;
    height: 11vh;
    flex-direction: column;
    gap: 1;
    align-items: center;
}

.menu-bar-item:hover {
    background:
    linear-gradient(to right, #FFFFFF 0.15vw, transparent 0.15vw) 0 0,
    linear-gradient(to right,  #FFFFFF 0.15vw, transparent 0.15vw) 0 100%,
    linear-gradient(to left,  #FFFFFF 0.15vw, transparent 0.15vw) 100% 0,
    linear-gradient(to left,  #FFFFFF 0.15vw, transparent 0.15vw) 100% 100%,
    linear-gradient(to bottom,  #FFFFFF 0.15vw, transparent 0.15vw) 0 0,
    linear-gradient(to bottom,  #FFFFFF 0.15vw, transparent 0.15vw) 100% 0,
    linear-gradient(to top,  #FFFFFF 0.15vw, transparent 0.15vw) 0 100%,
    linear-gradient(to top,  #FFFFFF 0.15vw, transparent 0.15vw) 100% 100%;
    margin-left: 2vw;

  background-repeat: no-repeat;
  background-size: 1vw 1.5vh;  
}


.menu-bar-item-space {
    margin-top: 2vh;
}

.menu-bar-item-typography {
    color: #FFFFFF;
    font-size: 1.2vw;
    font-style: normal;
    line-height: 1.4vh;
    /* 144.444% */
    text-transform: uppercase;
}